[submodule "lib/libgctools"]
	path = lib/libgctools
	url = git@github.com:Astral-C/libgctools.git
[submodule "lib/ImGuiFileDialog"]
	path = lib/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
	branch = Lib_Only
[submodule "lib/bStream"]
	path = lib/bStream
	url = git@github.com:Astral-C/bStream.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = git@github.com:glfw/glfw.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/J3DUltra"]
	path = lib/J3DUltra
	url = https://github.com/Sage-of-Mirrors/J3DUltra.git
